/* Mobile ke liye */
@media (max-width: 600px) {
     
.clock {
    font-size: 40px !important;
    color: #318b8b !important;
       padding: 15px 17px !important;
    box-shadow: 0 0 20px #1d9f9f !important;
    letter-spacing: 5px !important;
    margin-top: 281px !important;
}
 
}
